body {
  font-family: "Prompt", sans-serif;
}

.card {
  margin: 0 auto;
  background-color: rgba(241, 211, 179, 0.5);
  color: #8b7e74;
  width: fit-content;
}

.input {
  background-color: rgba(241, 211, 179, 0.5);
  border-color: #65647c;
}

.input:focus {
  border-color: #65647c;
  background-color: #8b7e74;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(101, 100, 124, 0.25);
}

.submit-btn {
  border-color: #65647c;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: #65647c;
  border-color: #65647c;
}

.btn-current {
  display: block;
  background-color: #65647c;
  border-color: #65647c;
  margin-left: auto;
}

.btn-current:hover,
.btn-current:active {
  background-color: transparent;
  border-color: #65647c;
  color: #212529;
}

.location {
  font-size: 1.5rem;
}

.date {
  text-align: right;
  font-size: 1.5rem;
}

.time {
  color: #c7bca1;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.today-text {
  text-align: center;
  text-shadow: 0 0 0.25rem rgba(101, 100, 124, 0.7);
}

.weather {
  color: #c7bca1;
  font-size: 1.5rem;
  width: fit-content;
  margin: 0 auto;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.temperature {
  font-size: 4rem;
  font-weight: 700;
  color: #65647c;
  width: fit-content;
  margin: 0 0 0 auto;
  text-shadow: 0 0 0.25rem rgba(101, 100, 124, 0.7);
}

.description::first-letter {
  text-transform: capitalize;
}

.button-wrapper {
  width: fit-content;
  margin: auto;
  padding: 0;
}

.type {
  font-size: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  color: #65647c;
  text-shadow: 0 0 0.25rem rgba(101, 100, 124, 0.7);
  transition: all 300ms ease-in-out;
}

.type:hover {
  color: #146c94;
}

.separator {
  color: #65647c;
  font-size: 2rem;
  text-shadow: 0 0 0.25rem rgba(101, 100, 124, 0.7);
}

.fa-sharp {
  color: #c7bca1;
}

.item {
  text-align: center;
  background-color: transparent;
  color: #8b7e74;
}

.weather-icon {
  font-size: 4rem;
  border-radius: 50%;
  border: 4px solid #146c94;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 1rem;
}

.day {
  margin: 0;
}

.item-temperature {
  margin: 0;
  font-size: 1.7rem;
  color: #146c94;
  text-shadow: 0 0 0.25rem rgba(101, 100, 124, 0.7);
}

.big-icon {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.info {
  text-align: center;
}

.info-value {
  color: #146c94;
  text-shadow: 0 0 0.25rem rgba(101, 100, 124, 0.7);
}

button.checked {
  cursor: default;
  color: #c7bca1;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

button.checked:hover {
  cursor: default;
  color: #c7bca1;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.github-link {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #8b7e74;
  padding-left: 3rem;
  transition: all 350ms ease-in-out;
}

.github-link:hover {
  color: #65647c;
}
